/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #729dc9e8;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    background-color: #729dc9;
    box-shadow: 0 5px 10px rgba(245, 245, 245, 0.315);
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* madrideo */
.slider-wrapper .slider-item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/featured.png);
    background-size: cover;
    background-position: center;
}

.slider-wrapper .slider-item:nth-child(2):before {
    background-image: url(images/catalogs.png);  
}

.slider-wrapper .slider-item:nth-child(3):before {
    background-image: url(images/services.png);  
}

.slider-wrapper .slider-item:nth-child(4):before {
    background-image: url(images/about.png);  
}

.slider-wrapper .slider-item:nth-child(5):before {
    background-image: url(images/about.png);  
}

.slider-wrapper .slider-item .slide-content {
    color: #fff;
    z-index: 20;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 10px;
    max-width: 1400px;
    position: relative;
}

.slider-wrapper .slider-item .slide-content > * {
    max-width: 40%;
}

.slider-item .slide-content .slide-subtitle {
    font-size: 2rem;
    font-weight: normal;
}
.slider-item .slide-content .slide-title {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 5px;
    text-transform: uppercase;
}

.slider-item .slide-content .slide-description {
    margin-top: 25px;
    line-height: 25px;
    font-size: 26px;
}

.slider-item .slide-content .slide-button {
    color: #fff;
    width: 250px;
    padding: 13px 0;
    display: block;
    margin-top: 45px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #fff;
    transition: 0.3s ease;
}

.slider-item .slide-content .slide-button:hover {
    color: black;
    background-color: #fff;
}

.slider-navigation button {
    position: absolute;
    top: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
    z-index: 20;
    color: black;
    background: #fff;
    transform: translateY(-50%);
    transition: 0.5ms ease;
}


.slider-navigation button:hover {
    background: gray;
}

.slider-navigation button#slide-prev {
    left: 20px;
}

.slider-navigation button#slide-next {
    right: 20px;
}
/* madrideo */

/* Logo and Text */
.logotext {
    display: flex;
    align-items: center;
    color: white;
}

.logo {
    height: 70px;
    width: auto;
    margin-right: 10px;
}

.logotext h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Navbar Links */
.navbar-nav ul {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.navbar-nav ul li {
    font-family: 'Arial Narrow';
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar-nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    transition: all 0.5s ease;
}

.navbar-nav ul li a.active,
.navbar-nav ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px whitesmoke;
}

/* Navbar Buttons */
.navbar-nav button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #ecf0f1;
    color: rgb(10, 10, 10);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar-nav button:hover {
    background-color: #2980b9;
}

/* madrideo */
.slider-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slider-wrapper .slider-item {
    position: relative;
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    padding-top: 0%;

}
/* madrideo */

/* Hero Section Adjustments */
/* Full-Screen Header with Image Slideshow */
.hero {
    position: relative;
    height: 90vh; /* Full viewport height */
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Behind text content */
}

/* Latest News Section */
#news {
    margin-top: 5%;
    padding: 50px 0;
    background-color: #fff;
}

#news h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.card {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

footer h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.contact-us{
    margin-top: 5%;
}

#catalog-search input {
    border-radius: 25px;
    padding: 0.8rem;
    margin-bottom: 1rem;
}
#catalog-categories .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#catalog-categories .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
#featured-catalog .card {
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
